.addproducts__decore-wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 85px;

  &::before {
    position: absolute;
    content: " ";
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $color-basic-green;
    z-index: -1;
  }
}

.addproducts__title {
  font-family: $main-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  padding: 25px 20px 34px;
  margin: 0;
  background-color: $color_white;
}

.addproducts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.addproducts__item {
  padding: 0;
  padding-bottom: 17px;
  border-bottom: 1px solid $color_special_grey;

  &:first-child {
    border-top: 1px solid $color_special_grey;
  }
}

.addproducts__title-card {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: $color_special_dark_grey;
}

.addproducts__sublist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 14px;
  font-family: $second-font;
  color: $color_special_dark_grey;
}

.addproducts__sublist dd {
  margin: 0;
}

.addproducts__gift {
  position: relative;
  margin: 35px 0;
  display: flex;
  background-color: $color_basic_green;
  background-image: url("../img/decorative/mobile/gift.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 290px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decorative/mobile/gift@2x.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 82px;
    top: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background: url("../img/gift-icon.svg") no-repeat 50% 50%;
  }
}

.addproducts__description {
  font-size: 16px;
  line-height: 20px;
  color: $color_white;
  font-family: $second-font;
  font-weight: 400;
  text-align: center;
  align-self: flex-end;
  max-width: 161px;
  margin: 0 auto;
  margin-bottom: 43px;
}

@media (min-width: $tablet-width) {
  .addproducts__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 36px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  .addproducts__decore-wrapper {
    min-height: 45px;
    margin-top: 68px;
    margin-bottom: 73px;
  }

  .addproducts__item {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    row-gap: 25px;
    padding: 26px 38px;
    border-left: 1px solid $color_special_grey;
    border-right: 1px solid $color_special_grey;
    box-sizing: border-box;
  }

  .addproducts__sublist {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .addproducts__sublist dd {
    margin-left: 49px;
  }

  .addproducts__title-card {
    font-size: 20px;
    margin: 0;
  }

  .addproducts__button {
    grid-column: 1/-1;
  }

  .addproducts__gift {
    display: grid;
    grid-template-columns: 1fr 291px;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 76px;
    background-image: url("../img/decorative/tablet/promo-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decorative/tablet/promo-image-tablet@2x.jpg");
    }

    &::before {
      top: 0;
      bottom: 0;
      left: -480px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .addproducts__description {
    grid-column: 2/3;
    margin: 0;
    grid-row: -1/1;
    align-self: center;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .addproducts__container {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    column-gap: 80px;
    margin-bottom: 90px;
  }

  .addproducts__decore-wrapper {
    margin-left: 0;
    margin-bottom: 72px;
    margin-top: 75px;
  }

  .addproducts__title {
    margin: 0;
    margin-left: 70px;
  }

  .addproducts__list {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }

  .addproducts__item {
    grid-template-columns: 1fr 1fr auto;
    grid-row: auto;
    row-gap: 0;
    align-items: center;
    column-gap: 38px;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .addproducts__title-card {
    line-height: 20px;
  }

  .addproducts__button {
    grid-column: 3/4;
    width: 250px;
    padding: 10px;
    line-height: 20px;
  }

  .addproducts__gift {
    width: 245px;
    grid-template-columns: auto;
    background-image: url("../img/decorative/desktop/promo-image-desktop.jpg");
    background-repeat: no-repeat;
    min-height: 289px;
    grid-row: 2/3;
    margin: 0;

    &::before {
      top: -100px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decorative/desktop/promo-image-desktop@2x.jpg");
    }
  }

  .addproducts__description {
    margin-top: 146px;
    margin-left: 0;
    text-align: center;
  }
}
