.advantages {
  padding: 0 20px;
  margin-bottom: 49px;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  font-family: $main_font;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 44px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.advantages__item {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: $color_special_dark_grey;
  margin-bottom: 20px;
  min-width: 245px;
  display: flex;

  &::before {
    display: block;
    content: "";
    min-width: 60px;
    min-height: 60px;
    background-color: $color_basic_green;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 20px;
  }

  &--first::before {
    background-image: url("../img/decorative/mobile/advantages-item-first.svg");
  }

  &--second::before {
    background-image: url("../img/decorative/mobile/advantages-item-second.svg");
  }

  &--third::before {
    background-image: url("../img/decorative/mobile/advantages-item-third.svg");
  }

  &--fourth::before {
    background-image: url("../img/decorative/mobile/advantages-item-fourth.svg");
  }
}


@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 30px;
    margin-bottom: 5px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 134px;
    row-gap: 37px;
  }

  .advantages__item {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto;
    align-content: start;
    padding: 0;
    max-width: 250px;
    min-height: 280px;
    font-size: 16px;
    line-height: 24px;
    counter-increment: list-counter;
    margin-bottom: 0;

    &::before {
      max-width: 80px;
      min-height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      content: counter(list-counter);
      top: -40px;
      left: 115px;
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: $color_basic_grey;
      z-index: -1;
    }
  }

  .advantages__title {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0 110px;
  }

  .advantages__list {
    column-gap: 70px;
    row-gap: 0;
  }

  .advantages__item {
    max-width: 230px;
    margin-left: 2px;

    &::before {
      margin-bottom: 32px;
      margin-left: 7px;
    }
  }
}
