.card {
  font-family: $second_font;
  font-size: 12px;
  line-height: 16px;

  &--showmore {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
}

.card__list {
  margin-bottom: 22px;
}

.card__title {
  font-family: $main_font;
  font-weight: 400;
  color: $color_special_dark_grey_2;
  font-size: 16px;
  line-height: 20px;
  margin-top: 19px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.card dd {
  margin: 0;
}

.card__button {
  margin-bottom: 20px;
}

.card__sublist {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card__sublist-item {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $color_special_dark_grey;
}

.card--small .card__title {
  margin-top: 13px;
  margin-bottom: 13px;
}
