.comments {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: $oswald;
  &__label {
    font-size: 24px;
    line-height: 26px;
  }
}

.comments__textarea {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $oswald;
}
