.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  &--header {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding: 0 30px;

    &--form {
      padding: 0 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding: 0 110px;
  }
}
