.container {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 100%;
    max-width: 1439px;
    padding: 0 30px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding: 0 110px;
    background: linear-gradient(to left, #68b738 0, #68b738 0 720px, #ffffff 0);
  }
}
