.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  line-height: 18px;


  &__text-link {
    color: $color_special_dark_grey;
    text-decoration: none;
  }
}
