.copyright {
  font-size: 16px;
  line-height: 18px;
}

.copyright__text-link {
  color: $color_special_dark_grey;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-link {
  fill: $color_special_dark_grey;

  &:hover {
    fill: $color_basic_green;
  }

  &:active {
    fill: $color_basic_green;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text-link {
    margin-right: 22px;
  }
}
