.feedback {
  font-family: $main_font;
  font-weight: 400;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 11px;
}

.feedback__legend {
  font-family: $main_font;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  max-width: 185px;
  padding: 0 20px;
  background-color: $color_white;
  margin-top: 26px;
  margin-bottom: 35px;
  padding-left: calc((100vw - 280px) / 2);

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $color_basic_green;
    top: 30%;
    width: 100vw;
    z-index: -1;
  }
}

.feedback__label {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  color: $color_special_dark_grey;
  text-transform: uppercase;
  position: relative;
}

.feedback__icon,
.feedback__icon-mail {
  position: absolute;
  right: 16px;
}

.feedback__input {
  box-sizing: border-box;
  margin-left: 12px;
  flex-grow: 1;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: 1px solid #e7e7e7;
  font-family: $main_font;
  font-size: 16px;
  line-height: 18px;
  color: $color_special_dark_grey;
  text-transform: uppercase;

  &:hover {
    outline: 1px solid $color_special_grey;
  }

  &:focus-within {
    outline: 2px solid $color_special_dark_grey;
  }

  &:invalid {
    outline: 2px solid $color_error;
  }
}

.feedback__icon-mail {
  stroke: #222222;
  fill: none;
}

.feedback__input:focus-within + .feedback__icon {
  fill: $color_basic_green;
}

.feedback__input:focus-within + .feedback__icon-mail {
  stroke: $color_basic_green;
}

.feedback__input:invalid + .feedback__icon-mail {
  stroke: $color_error;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 45px;
  }

  .feedback__legend {
    font-size: 36px;
    line-height: 36px;
    min-width: 530px;
    margin: 0;
    margin-bottom: 76px;
    padding: 0 25px 0 39px;
    margin-left: calc((100vw - 708px) / 2);

    &::before {
      top: 60%;
      width: 10000px;
      left: -1000px;
    }
  }

  .feedback__label {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .feedback__input {
    font-size: 20px;
    line-height: 30px;
    margin-left: 18px;
    padding-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    margin-bottom: 66px;
  }

  .feedback__legend {
    margin-left: calc(((100vw - 1220px) / 2) - 40px);
    position: relative;
    min-width: 530px;
  }

  .feedback__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 80px;
  }

  .feedback__label {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
