.location__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}

.location__title {
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 139px;
}

.location__adress {
  margin: 0;
  font-family: $second_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $color_special_dark_grey;
  font-style: normal;
  max-width: 139px;
}

.location__map {
  display: block;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    padding: 56px 70px;
  }

  .location__title {
    font-size: 20px;
    line-height: 26px;
    min-width: 172px;
  }

  .location__adress {
    max-width: 160px;
    text-align: right;
  }

  .location__map {
    width: 100%;
    min-height: 400px;
  }
}
