.location {
  background-color: $color_white;
  &--inner {
    background-color: $color_basic_grey;
  }
}
.location__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $color_white;
  width: 320px;
  margin: 0 auto;

  &--inner {
    background-color: $color_basic_grey;
  }
}

.location__title {
  font-family: $main_font;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 139px;
}

.location__adress {
  margin: 0;
  font-family: $second_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color_special_dark_grey;
  font-style: normal;
  max-width: 142px;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    background-color: $color_white;
    padding: 60px 70px 56px;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box;

    &--inner {
      background-color: $color_basic_grey;
    }
  }

  .location__title {
    font-size: 20px;
    line-height: 26px;
    min-width: 172px;
  }

  .location__adress {
    max-width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;

    &--margin {
      display: inline-block;
      margin-top: 19px;
    }
  }

  .location__map {
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    min-height: 195px;
  }

  .location__wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 59px 80px;
    background-color: $color_white;
    font-size: 20px;
    line-height: 26px;
    width: 565px;
    box-sizing: border-box;
  }

  .location__adress {
    text-align: left;
    font-size: 16px;
    justify-self: flex-end;
  }

  .location__map {
    grid-column: -1/1;
    grid-row: -1/1;
  }
}
