.location__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}

.location__title {
  font-family: $main_font;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 139px;
}

.location__adress {
  margin: 0;
  font-family: $second_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $color_special_dark_grey;
  font-style: normal;
  max-width: 139px;
}

.location__map {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    padding: 56px 70px;
  }

  .location__title {
    font-size: 20px;
    line-height: 26px;
    min-width: 172px;
  }

  .location__adress {
    max-width: 160px;
    text-align: right;
  }

  .location__map {
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location {
    display: grid;
    grid-template-columns: 1fr 565px 655px 1fr;
    grid-template-rows: 95px 200px 107px;
  }

  .location__wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    background-color: #ffffff;
  }

  .location__adress {
    text-align: left;
  }

  .location__map {
    grid-column: -1/1;
    grid-row: -1/1;
  }
}
