.main-footer {
  background-color: $color_basic_grey;
}

.main-footer__map {
  height: 362px;
}

.main-footer__social-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 63px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 7px;
}

.main-footer__logo-link {
  display: block;
  width: 100%;
  min-height: 24px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.main-footer__logo-image-text {
  display: block;
  padding: 39px 0 32px;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__copyright {
  min-height: 70px;
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    padding: 0 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 147px;
    margin: 0 auto;
    width: 768px;
  }

  .main-footer__logo-link {
    border: 0;
    justify-content: flex-start;
  }

  .main-footer__logo-image-text {
    margin: 0;
    padding: 0;
  }

  .main-footer__social-list {
    border: 0;
    justify-content: space-between;
    max-width: 148px;
  }

  .main-footer__map {
    height: 400px;
  }

  .main-footer__copyright {
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 565px 655px 1fr;
    grid-template-rows: 95px 198px 107px auto;
  }

  .main-footer__location {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
  }

  .main-footer__map {
    grid-column: -1/1;
    grid-row: 1/4;
  }

  .main-footer__wrapper {
    grid-column: -1/1;
    grid-row: 4/5;
    padding: 0 110px;
    width: 1440px;
    margin: 0 auto;
  }
}
