.main-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
}
.main-header__container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  display: block;

  &__image {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    align-items: center;
  }
  .main-header__container-logo {
    min-width: 174px;
  }
  .main-header__main-nav {
    min-width: 440px;
    margin-left: auto;
  }
}
