.main-catalog {
  font-family: $main-font;
}

.main-catalog__title {
  position: relative;
  margin-top: 27px;
  margin-bottom: 61px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  &::before {
    position: absolute;
    top: -27px;
    right: 0;
    left: -30px;
    content: "";
    height: 1px;
    width: calc(100vw + 30px);
    background-color: rgba(230, 230, 230, 1);
  }

  &::after {
    position: absolute;
    top: 76px;
    right: 0;
    left: -30px;
    content: "";
    height: 1px;
    width: calc(100vw + 30px);
    background-color: rgba(230, 230, 230, 1);
  }
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    margin-top: 40px;
    margin-bottom: 82px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__title {
    margin-top: 55px;
    margin-bottom: 92px;
  }
}
