.main-header__logo {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__container-logo {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 24px;
  align-items: center;
  justify-items: center;
  min-width: 280px;
  min-height: 65px;
}

.main-header__image {
  display: block;
}

.main-header__logo-text {
  margin-top: 3px;
  margin-right: 12px;
}

@media (min-width: $tablet-width) {
  .main-header__container {
    width: 768px;
    display: flex;
    align-items: center;
    min-height: 100px;
    margin-bottom: 25px;
  }

  .main-header__container-logo {
    min-width: 174px;
    margin-top: 4px;
  }

  .main-header__logo-img {
    width: 174px;
    min-height: 52px;
  }

  .main-header__main-nav {
    min-width: 440px;
    max-width: 440px;
    margin-left: auto;
    margin-top: 10px;
  }

  .main-header__logo-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo-img {
    min-width: 202px;
    min-height: 59px;
  }

  .main-header__container-logo {
    margin: 0;
  }

  .main-header__container {
    min-height: 117px;
    align-items: flex-end;
  }

  .main-header__main-nav {
    margin-top: 0;
    max-width: 480px;
    min-width: 480px;
    margin-left: 513px;
  }
}
