.presentation {
  background-color: rgba(234, 234, 234, 1);
}

.presentation__title {
  font-family: $main_font;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  line-height: 40px;
  padding-top: 23px;
  margin-bottom: 40px;
}

.presentation__description {
  font-family: $second_font;
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 18px;
  color: $color_special_dark_grey;
}

.presentation__list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0;
}

.presentation__item {
  position: relative;
  min-width: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-self: center;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    min-width: 124px;
    top: -5px;
    bottom: 10px;
    left: 0;
    right: 0;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 5%;
  }

  &--modified {
    grid-column: -1/1;
    justify-self: center;
    display: flex;
    flex-direction: row;
    border: 0;
    min-width: 188px;
    text-transform: uppercase;
    font-family: $main_font;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;

    &::before {
      display: none;
    }
  }
}

.presentation__item--modified dd {
  margin: 0;
}

.presentation__item-value {
  font-family: $main_font;
  font-size: 24px;
  line-height: 24px;
  margin: 8px;
  order: -1;
  text-transform: uppercase;
}

.presentation__item-description {
  font-family: $second_font;
  font-size: 12px;
  line-height: 12px;
  position: relative;
  padding: 0 10px;
  text-align: center;
  background-color: rgba(234, 234, 234, 1);
  max-width: 85px;
  color: $color_special_dark_grey;
}

@media (min-width: $tablet-width) {
  .presentation {
    background: linear-gradient(to top, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 1) 0% 460px, $color_white 460px);
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;
  }

  .presentation__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
    padding-top: 0;
  }

  .presentation__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
    max-width: 695px;
  }

  .presentation__list {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 42px;
    align-items: center;
    margin-bottom: 55px;
  }

  .presentation__item {
    min-width: 162px;

    &::before {
      min-width: 162px;
      top: -5px;
      bottom: 5px;
      left: 0;
      right: 0;
    }
  }

  .presentation__item--modified {
    grid-column: 3/4;
    justify-self: end;
    align-self: start;
    flex-direction: column;
  }

  .presentation__item--modified dd,
  .presentation__item--modified dt {
    align-self: flex-end;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }

  .presentation__item-value {
    font-size: 30px;
    line-height: 37px;
  }

  .presentation__item-description {
    max-width: 142px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    background-color: $color_white;
  }

  .presentation__slider-container {
    min-height: 632px;
  }
}

// Desktop styles
@media (min-width: $desktop-width) {
  .presentation {
    background: linear-gradient(to top, rgba(234, 234, 234, 1) 0%, rgba(234, 234, 234, 1) 0% 510px, $color_white 510px);
    padding: 0;
    border: 0;
  }

  .presentation__container {
    display: grid;
    grid-template-columns: 1fr 591px;
    grid-template-rows: (auto auto auto 75px);
    column-gap: 193px;
    border: 0;
    min-height: 641px;
    margin-bottom: -37px;
  }

  .presentation__title {
    grid-column: 1/2;
    margin: 0;
    margin-top: 22px;
  }

  .presentation__description {
    grid-column: 1/2;
    margin: 0;
    margin-top: 72px;
    justify-self: start;
  }

  .presentation__list {
    grid-template-columns: auto auto;
    grid-column: 1/2;
    margin: 0;
    margin-bottom: 5px;
  }

  .presentation__item {
    justify-self: center;
    align-self: start;
    margin-bottom: 5px;

    &--modified {
      grid-column: -1/1;
      justify-self: start;
      align-self: start;
      flex-direction: row;
      margin-left: 0;
      margin-bottom: 0;
    }

    &--margin {
      margin-right: 70px;
    }
  }

  .presentation__item--modified dt {
    margin-top: 0;
    margin-right: 60px;
  }

  .presentation__slider-container {
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
    min-height: auto;
    background: transparent;
    margin-top: -40px;
  }

  .presentation__item-description {
    background-color: #e6e6e6;
  }
}
