.presentation {
  background-color: rgba(234, 234, 234, 1);
  padding: 0 20px;
}

.presentation__title {
  margin: 0;
  line-height: 40px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.presentation__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color_special_dark_grey;
}

.presentation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.presentation__item {
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 3px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  min-width: 124px;
  padding: 10px;
}

.presentation__item-value {
  font-family: $main_font;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 14px;
}

.presentation__item-description {
  margin: 0;
  position: absolute;
  bottom: -8px;
  left: 18px;
  z-index: 2;
  font-family: $second_font;
  font-size: 12px;
  line-height: 12px;
  background-color: rgba(234, 234, 234, 1);
  box-sizing: border-box;
  max-width: 87px;
  padding: 0 5px;
}

.presentation__spending {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: $main_font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.presentation__slider {
  padding-bottom: 40px;
}
