.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 324px);
    grid-gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    grid-template-columns: repeat(auto-fill, 244px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
