.products {
  padding: 0 20px;
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products__description {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;
  color: $color_special_dark_grey;
  text-align: center;
}

.products__button-showmore {
  background-color: $color_basic_grey;
  color: $color_special_dark_grey;
}

.products__title {
  font-family: $main_font;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
}
