.promo {
  position: relative;
  color: $color_white;
  font-family: $main_font;
  font-size: 14px;
  line-height: 14px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/decorative/mobile/index-promo-background.jpg");
    background-size: contain;
    background-color: $color_basic_green;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decorative/mobile/index-promo-background@2x.jpg");
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-family: $main_font;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;
}

.promo__description {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.promo__button {
  min-width: 280px;
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 0 30px;

    &::before {
      display: none;
    }
  }

  .promo__image {
    width: 709px;
    height: 609px;
    margin-top: 30px;
  }

  .promo__image-wrapper {
    grid-row: 3/4;
    grid-column: -1/1;
    justify-self: center;
    z-index: -1;
    margin-top: -50px;
  }

  .promo__container {
    display: grid;
    grid-template-columns: 58px 1fr;
    grid-template-rows: auto auto 610px;
    justify-content: start;
  }

  .promo__title {
    grid-row: 1/2;
    grid-column: 2/3;
    max-width: 500px;
    text-align: left;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__description {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__button {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: start;
    max-width: 244px;
    min-width: 244px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 17px 10px;
  }
}

@media (min-width: $desktop-width) {
  .promo::before {
    display: block;
    top: -143px;
    left: 50%;
    width: 720px;
    height: 696px;
    background-image: url("../img/decorative/desktop/index-promo-background.jpg"),
      linear-gradient(to left, #68b738 0, #68b738 0 720px, #ffffff 0);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decorative/desktop/index-promo-background@2x.jpg");
    }
  }

  .promo__container {
    grid-template-columns: 80px 1129px;
    grid-template-rows: 75px repeat(3, min-content);
  }

  .promo__title {
    grid-row: 2/3;
    align-self: start;
    margin: 0;
    margin-top: 6px;
    margin-left: -30px;
    margin-bottom: 60px;
  }

  .promo__description {
    grid-row: 2/3;
    align-self: end;
    margin-bottom: 0;
    margin-left: -30px;
  }

  .promo__image {
    width: 552px;
    height: 499px;
    margin-top: -5px;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .promo__image-wrapper {
    grid-row: 1/5;
    justify-self: center;
    grid-column: 1/-1;
    margin-left: 158px;
    margin-top: 4px;
  }

  .promo__button {
    grid-row: 3/4;
    align-self: start;
    margin-top: 52px;
    margin-left: -30px;
  }
}
