.promo {
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-family: $main_font;

  &::before {
    content: "";
    background-image: url("../../img/index-promo-background.png");
    background-size: cover;
    width: 320px;
    height: 302px;
    // opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
    width: 320px;
    height: 302px;
    content: "";
    z-index: 1;
  }
}

.promo__product-image {
  position: relative;
  z-index: 2;
  margin: 0 20px;
}

.promo__title {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 25px;
  text-align: center;
}

.promo__description {
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.promo__button {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo{
    color: #000000;
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
  }
}
