.questionnaire {
  font-family: $main_font;
  font-weight: 400;
  text-transform: uppercase;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.questionnaire__label {
  font-size: 16px;
  line-height: 18px;
  color: $color_special_dark_grey;
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.questionnaire__input {
  box-sizing: border-box;
  margin-left: 12px;
  flex-grow: 1;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: 1px solid #e7e7e7;
  font-family: $main_font;
  font-size: 16px;
  line-height: 18px;
  color: $color_special_dark_grey;

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    outline: 2px solid $color_special_dark_grey;
  }

  &--error {
    outline: 2px solid rgba(255, 130, 130, 1);
  }
}

@media (min-width: $tablet-width) {
  .questionnaire__label {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 72px;
    }
  }

  .questionnaire__input {
    font-size: 20px;
    line-height: 30px;
  }
}
