.services {
  margin: 0 20px;

  &__wrapper {
    background-color: $color_basic_grey;
    margin-bottom: 20px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.services__title {
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 37px;
}

.services__description {
  margin: 0 20px;
  font-size: 14px;
  line-height: 18px;
  color: $color_special_dark_grey;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  padding-bottom: 23px;
}

.services__link {
  display: block;
  color: rgba(0, 0, 0, 1);
  font-family: $main_font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 9px;
  padding-bottom: 22px;
  max-width: 132px;
}
