.site-navigation {
  font-family: $main-font;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
}

.site-navigation__item {
  width: 100%;
  text-align: center;
  position: relative;

  &:first-child::before {
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 320px;
    background-color: rgba(230, 230, 230, 1);
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 320px;
    background-color: rgba(230, 230, 230, 1);
  }
}

.site-navigation__link {
  display: inline-block;
  color: $color_black;
  text-decoration: none;
  width: 100%;
  padding: 21px 0 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .site-navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    flex-wrap: wrap;
  }

  .site-navigation__item {
    width: auto;
    border: 0;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }

    &--current-desktop {
      border-bottom: 2px solid $color_white;
    }

    &--current {
      border-bottom: 2px solid $color_basic_green;
    }
  }

  .site-navigation__link {
    padding: 8px 0;
    width: auto;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .site-navigation {
    min-width: 478px;
  }

  .site-navigation__item::after {
    display: none;
  }

  .site-navigation__item--current {
    border-bottom: 2px solid $color_basic_green;
  }

  .site-navigation__item--current-desktop {
    border-bottom: 2px solid $color_white;
  }

  .site-navigation__link {
    font-size: 20px;
    line-height: 30px;

    &--white {
      color: $color_white;
    }
  }
}
