.slider-compare__image {
  display: block;
  margin-bottom: 15px;
}

.slider-compare__range-toggle {
  margin: 0;
  margin-top: 7px;
}


.slider-compare__range-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 41px;
  padding-top: 4px;
}

.slider-compare__input {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 12px;
  margin: 0 16px;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 6px;
  background-color: $color_white;
  cursor: pointer;
  margin-top: 2px;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: calc(100% / 2 - 4px);
    height: 6px;
    border-radius: 6px;
    background: $color_basic_green;
  }
}

.slider-compare__button-range {
  border: none;
  padding: 0;
  margin: 0;
  font-family: $main_font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider-compare__image {
    min-height: 511px;
    min-width: 592px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .slider-compare__button-range {
    font-size: 20px;
    line-height: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: repeating-linear-gradient(to right, rgba(220, 220, 220, 1) 0, rgba(220, 220, 220, 1) 1px, rgba(234, 234, 234, 1) 1px, rgba(234, 234, 234, 1) 2px);
    }
  }

  .slider-compare__button-range:hover + .slider-compare__button-range::after {
    border-bottom: 1px solid $color_black;
    opacity: 0.4;
  }

  .slider-compare__cat-changes {
    align-self: flex-start;
    margin: 0 10px;
  }

  .slider-compare__input {
    width: 426px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;

    &::before {
      position: absolute;
      content: "";
      top: -17px;
      left: 198px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid $color_special_grey;
      background: $color_white;
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    &::after {
      position: absolute;
      content: "";
      top: -3px;
      left: 212px;
      width: 8px;
      height: 8px;
      background-color: $color_basic_green;
      border-radius: 50%;
    }
  }

  .slider-compare__range-toggle:hover + .slider-compare__input::before {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  .slider-compare__range-toggle:active + .slider-compare__input::before {
    border-color: $color_basic_green;
  }
}

@media (min-width: $desktop-width) {
  .slider-compare__image {
    height: 576px;
    width: 591px;
  }
}
