.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 34px;
  min-height: 28px;
  margin-right: 20px;
  text-align: center;
  padding-top: 9px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-block;
  width: 100%;

  &:hover {
    fill: $color_basic_green;
  }

  &:active {
    fill: $color_basic_green;
    opacity: 0.3;
  }
}

.social__icon {
  display: inline-block;
  width: 100%;
  fill: $color_special_grey_2;
}

@media (min-width: $tablet-width) {
  .social__item:first-child {
    margin-right: 15px;
  }

  .social__item:last-child {
    margin-right: 8px;
  }
}
