.title {
  font-family: $main_font;
  font-weight: 400;

  &--big {
    font-size: 36px;
    line-height: 36px;
  }

  &--medium {
    font-size: 26px;
  }

  &--small {
    font-size: 16px;
  }
}

@media (min-width: $tablet-width) {
  .title--big {
    font-size: 60px;
    line-height: 60px;
  }
}
