.page {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.page__body {
  font-family: $second_font;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: $desktop-width) {
  .page__main-footer {
    max-width: 1440px;
    margin: 0 auto;
  }

  .page__main-header {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
