$oswald: "Oswald", sans-serif;
$arial: "Arial", sans-serif;
$white: #ffffff;
$black: #000000;
$special_black: #111111;
$special_dark-grey: rgba(68, 68, 68, 1);
$special_grey: rgba(235, 235, 235, 1);
$basic_grey: rgba(242, 242, 242, 1);
$basic_green: rgba(104, 183, 56, 1);
